<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.neu.madcourse.findingastro"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="edu.neu.madcourse.findingastro.permission.C2D_MESSAGE"/>

    <permission android:name="edu.neu.madcourse.findingastro.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".skyview_activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".RotationVector"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".findingastro_main"
            android:label="@string/title_activity_findingastro_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".findingastro_rules"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".findingAstro_score">
        </activity>
        <activity android:name=".findingastro_challenge">
        </activity>
        <receiver
            android:name=".GCMBroadcastReveiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="edu.neu.madcourse.findingastro"/>
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService"/>

    </application>

</manifest>
